# Copyright (c) 2024, MASSDRIVER EI (massdriver.space)
# SPDX-License-Identifier: Apache-2.0

if SOC_SERIES_BL7

config SOC_SERIES
	default "bflb"

config SOC_SUB_SERIES
	string
	default "bl702"

config SOC_PART_NUMBER
	string
	default "bl702sa0q2i" if SOC_PART_NUMBER_BL702SA0Q2I
	default "bl702s10q2i" if SOC_PART_NUMBER_BL702S10Q2I
	default "bl702c10q2h" if SOC_PART_NUMBER_BL702C10Q2H
	default "bl706c10q2i" if SOC_PART_NUMBER_BL706C10Q2I
	default "bl706s10q2i" if SOC_PART_NUMBER_BL706S10Q2I
	default "bl706c22q2i" if SOC_PART_NUMBER_BL706C22Q2I

config SYS_CLOCK_HW_CYCLES_PER_SEC
	default 144000000

config NUM_IRQS
	default 64

endif   # SOC_SERIES_BL6
